.page-home{

    font-family: $font-family-principal;

    .header{

        background-color: $principal_bg !important;

        .content-img{
            display: flex;
            justify-content: center;

            img{
                width: 70px;
            }
        }

        .title-header{
            color: $principal;
        }

        .content-social-networks{
            a{
                text-decoration: none;
                margin-right: 2rem;

                i{
                color: #fff;
                font-size: 20px;
                }
            }
        }
    }

    .banner{
        img{
            width: 100%;
            max-height: 500px;
        }

        .text-float{
            text-align: center;
            width: fit-content;
            box-shadow: 0 3px 6px #ddd;
            padding: 1.5rem;
            border-radius: 1rem;
            position: absolute;
            left: 65%;
            margin-top: -27%;
            background-color: #fff;
            max-width: 450px;

            @media (min-width: 768px) and (max-width: 1100px) {
                left: 45%;
                margin-top: -35%;
            }

            @media (min-width: 1101px) and (max-width: 1500px) {
                left: 55%;
            }

            @media (min-width: 1500px) {
                margin-top: -20%;
            }

            h3{
                font-size: 3rem;
                margin: 0;

                @media (max-width: 1100px) {
                    font-size: 2rem;
                }
            }

            p{
                font-size: 1.5rem;
                margin-bottom: 4px;

                @media (max-width: 1100px) {
                    font-size: 1rem;
                }
            }

            button{
                font-size: 2rem;

                @media (max-width: 1100px) {
                    font-size: 1.2rem;
                }
            }
        }
    }

    .separate{
        border-top: 3px solid #999!important;
    }

    .btn--primary{
        color: $text_black;
        font-weight: bold;
        width: 100%;
        padding: 0;
    }

    .container-sections{
        padding: 3.5rem 0;

        .title-section{
            color:  $text_title;
            font-size: 2.5rem;
        }

        .section-register{

            padding: 0 8%;

            @media (max-width: 1100px) {
                padding: 0 2%;
            }

            .register-access{
                margin-bottom: 4rem;
                text-align: center;
    
                .title{
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
    
                    i{
                        font-size: 30px;
                        margin-right: 15px;
                    }
    
                    h3{
                        font-size: 2.5rem;
                    }
                }
    
                p{
                    font-size: 1.5rem;
                }
    
                .btn--primary{
                    font-size: 1.5rem;
                    width: 80%;
                }
            }
    
            .content-img{
    
                display: flex;
                justify-content: center;
                align-items: center;
    
                img{
                    max-width: 500px;
                    box-shadow: 0 3px 6px #8a8792;
                    border-radius: 15px;

                    @media (max-width: 600px) {
                        max-width: 300px;
                    }

                    @media (min-width: 768px) and (max-width: 1000px) {
                        max-width: 370px;
                    }
                }
                
            }
        }

        .section-introduction{
            
            padding: 0 8%;

            @media (max-width: 1100px) {
                padding: 0 2%;
            }

            h3{
                font-size: 2rem;
                text-align: center;
            }

            p{
                font-size: 1.2rem;
            }

            .swiper {
                width: 100%;
                max-height: 400px;
            }
        
            .swiper-slide {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 22px;
                font-weight: bold;
                color: #fff;
                transition-duration: 1000ms !important;
                
                img{
                    object-fit: cover;
                    background-size: cover;
                }
            }

        }

        .section-categories{
            padding: 0 8%;

            @media (max-width: 1100px) {
                padding: 0 13%;
            }

            .swiper {
                width: 100%;
                height: 100%;
            }

            .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px;
            }
        }

        .section-judges{

            .swiper {
                width: 100%;
                padding-top: 50px;
                padding-bottom: 50px;
            }
        
            .swiper-slide {
                background-position: center;
                background-size: cover;
                width: 480px;
                height: 480px;
            }
        
            .swiper-slide img {
                display: block;
                width: 100%;
            }

        }

        
    }
}